<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>CV</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Personal Information</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <p>Name: {{ name }}</p>
      <p>Age: {{ age }} years old</p>
    </div>
    <div class="col-12 col-md-6">
      <p>Email: {{ email }}</p>
      <p>Phone: {{ phone }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Skills</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul>
        <li *ngFor="let skill of skills">
          {{ skill.name }} - {{ skill.level }} months
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Work Experience</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul>
        <li *ngFor="let job of jobs">
          <h4>{{ job.company }} - {{ job.title }}</h4>
          <p>{{ job.description }}</p>
          <p>{{ job.startDate | date:'MMMM yyyy' }} - {{ job.endDate | date:'MMMM yyyy' }}</p>
          <ul>
            <li *ngFor="let skill of job.skills">
              {{ skill.name }} - {{ skill.level }} months
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
