<div class="container">
  <h2>{{job.title}} at {{job.company}}</h2>
  <p>{{job.companyDescription}}</p>
  <p>{{job.description}}</p>
  <h3>Required Skills:</h3>
  <ul>
    <li *ngFor="let requiredSkill of job.requiredSkills">
      {{requiredSkill.priority}} - {{requiredSkill.id}} ({{requiredSkill.level}} months)
    </li>
  </ul>
  <p>Chance of being accepted: {{chanceOfBeingAccepted}}%</p>
  <button *ngIf="!isAccepted" (click)="applyForJob()">Apply</button>
  <p *ngIf="isAccepted">Congratulations! You got the job!</p>
  <p *ngIf="!isAccepted && applied">Sorry, you were not accepted for this job.</p>
</div>
